{% extends "hospital/base.html" %} {% block content %}
<div class="resource_inner">
    <style>
        p {
            margin-bottom: 10px;
        }
    </style>
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/hospital/facility/ambulance.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>
                        <span>
                            01         </span>
                        <h1>Cardiology</h1>
                        <h3 class="inner_sub_hd">Overview</h3>
                        <p>ACS Heart Center, part of the esteem institute, Rajarajeswari Medical College & Hospital. Was established in May 2012 as an initial non-interventional department with 2D echocardiography, Treadmill Test and cardiac consultation.
                            After the initial good response, our interventional department was established in December 2012. Since then, there was no looking back, the department has made leaps & bounds in patient care, catering in all fields of cardiology
                            like pediatric device closure for ASD & VSD (congenital heart diseases), to adult coronary artery disease, peripheral artery diseases, heart failure, heart blocks and arrhythmia management with ablations. The cardiology department
                            has ever since been catering to the community with the latest technology and best cardiac care at the most affordableprices.

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>




</div>

{% endblock content %}