{% extends "hospital/base.html" %} {% block content %}
<div class="resource_inner">
    <style>
        p {
            margin-bottom: 10px;
        }
    </style>
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/hospital/facility/ambulance.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>
                        <span>
                            03       </span>
                        <h1>Nephrology</h1>
                        <h3 class="inner_sub_hd">Overview</h3>
                        <p>One of the key Departments of the Hospital and a brainchild of the Chairman Sri A.C. Shanmugam, the Dialysis Unit was set up with the aim of serving the poor and weaker sections of society. Established in July 2011 with 5 Dialysis
                            machines, today the facility is fully equipped with 10 more machines, adequate support staff and also has a facility for isolating and treating HIV patients. This has become a boon for the rural population around Bengaluru.

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>




</div>

{% endblock content %}