{% extends "hospital/base.html" %} {% block content %}
<div class="resource_inner">
    <style>
        p {
            margin-bottom: 10px;
        }
    </style>
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/hospital/facility/ambulance.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>
                        <span>
                            04       </span>
                        <h1>Neurology
                        </h1>
                        <h3 class="inner_sub_hd">Overview</h3>
                        <p>The department of Neurology at RRMCH offers specialised neurological consultative services. While Clinical Neurology involves history tracking, neurological examination and formulating diagnosis, Investigative Neurology involves
                            imaging the nervous system using MRI, CT and electro-physiological examination.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>




</div>

{% endblock content %}