{% extends "hospital/base.html" %} {% block content %}
<div class="resource_inner">
    <style>
        p {
            margin-bottom: 10px;
        }
    </style>
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/hospital/facility/ambulance.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>
                        <span>
                            06     </span>
                        <h1>Paediatric Surgery
                        </h1>
                        <h3 class="inner_sub_hd">Overview</h3>
                        <p>Children are the greatest gift to mankind. It is our responsibility to provide the best of the care for children suffering from diseases or ailments. With this motto, Pediatric Surgery department at RRMCH is striving hard to provide
                            the best Surgical care at affordable costs.Patients from all over the state and also adjacent states are presently getting treated.


                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>




</div>

{% endblock content %}