{% extends "hospital/base.html" %} {% block content %}
<div class="resource_inner">
    <style>
        p {
            margin-bottom: 10px;
        }
        
        b {
            font-weight: 600;
        }
    </style>
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/hospital/facility/ambulance.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>
                        <span>
                            05   </span>
                        <h1>Plastic Surgery
                        </h1>
                        <h3 class="inner_sub_hd">Overview</h3>
                        <p>
                            <b> What is plastic surgery?-</b> It is a popular misconception that the word plastic in plastic surgery means artificial. Rather, the word is derived from the ancient Greek word plastikos, which means to mold or give form.
                        </p>
                        <p>Plastic surgery is a surgical specialty involved with the reconstruction of facial and body tissue defects due to illness, trauma, or birth disorders.

                        </p>

                        <p> <b>   What does plastic surgery include?</b>
                        </p>
                        <p>Plastic surgery includes both reconstructive and aesthetic (cosmetic surgery) procedures:

                        </p>
                        <p>
                            <b> Reconstructive plastic surgery.</b> involves the restoration of form and function in any area of the body. This might include repairing a hole left when a bone tumor is removed, reconstructing a breast following a mastectomy.
                            In general, reconstructive surgery is performed on abnormal structures of the body that may be caused by the following:Trauma/ Infection / Developmental abnormalities / Congenital (present at birth) anomalies / Disease / Tumors
                            This type of surgery is usually performed to improve function, but may also be performed to approximate a normal appearance.


                        </p>

                        <p>
                            <b>   Hand surgery,</b> including treatment of acute and chronic hand and upper limb problems, such as carpal tunnel surgery and brachial plexus repair.

                        </p>
                        <p>
                            <b> Cosmetic (or Aesthetic) surgery,</b> Cosmetic surgery is performed to repair or reshape otherwise normal structures of the body, generally, to improve appearance, such as breast reduction or augmentation, liposuction, facelifts,
                            and skin treatments.


                        </p>
                        <p>
                            <b>  Craniofacial surgery, </b>a major component of Pediatric Plastic Surgery, for children born with abnormalities of the face or head, from craniosynostosis (improper development of the skull bones) to cleft palate to jaw
                            reconstruction.
                        </p>
                        <p>
                            <b>Microsurgery,</b> in which surgeons reattach tiny pieces of tissue taken from a donor or from another part of a patient’s body. Microsurgeons specialize in the reconnection of nerves, muscles, and blood vessels.

                        </p>

                    </div>
                </div>

            </div>
        </div>
    </section>




</div>

{% endblock content %}