{% extends "hospital/base.html" %} {% block content %}
<div class="resource_inner">
    <style>
        p {
            margin-bottom: 10px;
        }
        
        b {
            font-weight: 600;
        }
        
        h1 {
            font-size: 85px;
        }
    </style>
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/hospital/facility/ambulance.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>
                        <span>
                            08    </span>
                        <h1>Surgical Oncology
                        </h1>
                        <h3 class="inner_sub_hd">Overview</h3>
                        <p>RRMCH is one of the recognized premiere institute in Bangalore, to start surgical oncology department at its inception to cater to the growing needs of the society and offers surgical treatment to various cancers. The center has
                            highly qualified and specialized team of onco-surgeons, who offer expertise surgical treatment to various sub specialty of onco-surgery with preservation of organs, and its function and improving quality of life. The center
                            also has expert laparoscopic onco surgeon, who offer major laparoscopic resection for gastrointestinal and oesophageal cancer.


                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>




</div>

{% endblock content %}