{% extends "hospital/base.html" %} {% block content %}
<div class="resource_inner">
    <style>
        p {
            margin-bottom: 10px;
        }
        
        b {
            font-weight: 600;
        }
    </style>
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/hospital/facility/ambulance.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>
                        <span>
                            09    </span>
                        <h1>Urology
                        </h1>
                        <h3 class="inner_sub_hd">Overview</h3>
                        <p>“Will update soon…”


                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>




</div>

{% endblock content %}