{% extends "college/base.html" %} {% block content %}
<div class="resource_inner">
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/college/FACILITIES/hostel.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>
                        <span>
                07            </span>
                        <h1>Hostel</h1>
                        <h3 class="inner_sub_hd">hostel facilities</h3>
                        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, tempore exercitationem officiis voluptatibus dolores expedita error corporis, culpa magnam sint libero nobis voluptatem vero esse rem explicabo maxime consequatur dolore!
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>




</div>

{% endblock content %}