{% extends "college/base.html" %} {% block content %}

<style>
    h1 {
        font-size: 75px !important;
    }
</style>
<div class="resource_inner">
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/college/FACILITIES/ground.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>
                        <span>
                04          </span>
                        <h1>Internet Section</h1>
                        <h3 class="inner_sub_hd">Overview</h3>
                        <p> Our college has a dedicated internet lab working 24 hours a day, 7 days a week. We give free internet access to our students. We have 255 Mbps 1:1 dedicated leased line internet connectivity (155 Mbps from Reliance and 100 Mbps
                            from Vodafone). The internet can be accessed from more than 1300 computers. All the departments and the HODs have internet connectivity. We have also provided a free 24x7 Wi-Fi facility in the entire campus (including hostels,
                            cafeteria, seminar halls, auditorium) for the benefit of the students and faculty to avail internet connection from anywhere in the campus. The campus intranet has important details about Test Schedules, Time Tables, Examination
                            Schedules, Campus News etc., and a wealth of information about the college.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>




</div>

{% endblock content %}