{% extends "college/base.html" %} {% block content %}
<div class="resource_inner">
    <section class="hostl_facility">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 rigt_aln">
            <div class="hostel_rgt_img">
              <img src="/static/sample/college/FACILITIES/SEMINAR.jpg" class="img-responsive">
            </div>
          </div>
          <div class="col-sm-6 lft_aln">
            <div>
              <span>
                05            </span>
              <h1>Seminar Hall</h1>
              <h3 class="inner_sub_hd"> Conference Room</h3>
              <p></p><p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis voluptates quo autem sit placeat similique optio totam commodi fugiat quisquam, nam accusamus mollitia quas itaque repudiandae, officiis excepturi doloremque fugit.</p>
  <p></p>
            </div>
          </div>
  
        </div>
      </div>
    </section>
  
      
    
  
    </div>

{% endblock content %}