{% extends "college/base.html" %} {% block content %}
<div class="resource_inner">
    <section class="hostl_facility">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 rigt_aln">
            <div class="hostel_rgt_img">
              <img src="/static/sample/college/FACILITIES/TRANSPORT.jpg"class="img-responsive">
            </div>
          </div>
          <div class="col-sm-6 lft_aln">
            <div>
              <span>
                08            </span>
              <h1>Transport</h1>
              <h3 class="inner_sub_hd">Commute facility</h3>
              <p></p><p> A full fledged Transport department functions in the college with buses to provide transport facility to students and staff from various places. This service is offered ensuring a hassle-free and safe transportation.

                The College runs 85 buses for providing transport facility to students from various places in the city. The number of buses will be increased corresponding to the increase in the intake of students.   
                </p>
  <p></p>
            </div>
          </div>
  
        </div>
      </div>
    </section>
  
      
    
  
    </div>

{% endblock content %}