{% extends "hospital/base.html" %} {% block content %}
<div class="resource_inner">
    <style>
        p {
            margin-bottom: 10px;
        }
    </style>
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/hospital/facility/ambulance.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>
                        <span>
                            01         </span>
                        <h1>Anaesthesiology</h1>
                        <h3 class="inner_sub_hd">Overview</h3>
                        <p>The modern anaesthesia is comparatively of recent origin dating back to a century and half, before which “Surgery was an agony”. Introduction of general Anaesthesia in 1846 (W.T.A.Morton), combined with aseptic techniques, permitted
                            increasingly extensive and complex operations to be performed. Present day monitoring facilities and pain relief made the Sevier safe.</p>
                        <p>Duties of the Department of Anaesthesia have extended beyond operating rooms to cardiopulmonary resuscitation, critical care and pain management services. The Department of Anaesthesiology has a significant role in surgeries. The
                            department utilizes the most advanced equipments to cater to the varied requirements of patients undergoing various medical procedures and treatment. The anaesthesiology team comprises specialist doctors with training in hemodynamic
                            monitoring, management of Thoracic, and Lumbar pain, blocks under ultrasound guidance, fiberoptic intubation and intra and post-operative ventilator management.</p>

                        <p>We have an excellent infrastructure with 10 fully equipped air conditioned operation theatres. It comprises with remote controlled tables, halogen shadow less lights with cameras beaming the proceedings along with audio in our
                            demonstration room. We have fully automated anaesthesia workstations, multi-paramonitors in every OT; specialized equipment like nerve locator, nerve mapper, fiberscope, and a difficult intubation cart. We also have an anesthesia
                            museum depicting the history of anaesthesia and its evolvement to present today.</p>
                        <p>We provide ICU care with 5 ventilators for patient requiring ventilator support including non invasive ventilation and BIPAP machines.

                    </div>
                </div>

            </div>
        </div>
    </section>




</div>

{% endblock content %}