{% extends "hospital/base.html" %} {% block content %}
<div class="resource_inner">
    <style>
        p {
            margin-bottom: 10px;
        }
    </style>
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/hospital/facility/ambulance.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>

                        <div>
                            <span>
                                02           </span>
                            <h1>Dentistry</h1>
                            <h3 class="inner_sub_hd">Overview</h3>
                            <p>The department is represented by a qualified Dental Doctor round the clock in ACS Medical College and Hospital .</p>
                            <p>The department provides basic and routine Dental care such as scaling, filling and extraction at the dental clinic and will refer patients who need a specialized treatment at our dental college, ACS.

                            </p>
                            <p>The department will also assist – department of oral and maxillofacial surgery in admitting and supervising the in-patients at Rajarajeswari Medical College and hospital and also submit monthly statistics to Head of Department
                                of Public health dentistry.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
    </section>




    </div>

    {% endblock content %}