{% extends "hospital/base.html" %} {% block content %}
<div class="resource_inner">
    <style>
        p {
            margin-bottom: 10px;
        }
    </style>
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/hospital/facility/ambulance.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>

                        <div>
                            <span>
                                03          </span>
                            <h1>Dermatology</h1>
                            <h3 class="inner_sub_hd">Overview</h3>
                            <p>Dermatology, the science of skin, is one of the many specialties that have evolved from general medicine, although its recognition as a distinct specialty is recent. Dermatological diseases (including Venereology and Leprology)
                                constitute approximately 30% of outpatient attendance in any hospital. They are often easily noticed by others and cause great social concern to the patients. Skin disorders are an important factor causing psychological
                                burden and very often their association with internal diseases, makes the subject special and important to study in the current scenario. Considering this fact and to provide specialty services to the rural population in
                                and around Bangalore, the Department of Skin & V.D was established since the inception of the college. The department though initially accredited to undertake training of undergraduate students, presently is recognized
                                by the Medical Council of India (MCI) to train young doctors for postgraduate degree in dermatology. The department is well provided with state of the art equipment and continues to acquire more equipment which is required
                                for imparting training to the students and is also involved in research.</p>
                        </div>
                    </div>

                </div>
            </div>
    </section>




    </div>

    {% endblock content %}