{% extends "hospital/base.html" %} {% block content %}
<div class="resource_inner">
    <style>
        p {
            margin-bottom: 10px;
        }
        
        .clinicalul li {
            font-family: 'Eurostile', sans-serif;
            font-size: 15px;
            line-height: 2.2;
            letter-spacing: 0.05em;
            list-style-type: disc;
            margin-left: 10px;
        }
    </style>
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/hospital/facility/ambulance.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>

                        <div>
                            <span>
                                04         </span>
                            <h1>ENT</h1>
                            <h3 class="inner_sub_hd">Overview</h3>
                            <ul class="clinicalul">
                                <li>Microscopic ear and advanced hearing solutions/cochlear implantation.
                                </li>
                                <li>Endoscopic nose, sinus and skull base surgeries.
                                </li>
                                <li>Micro laryngeal Surgery & Phonosurgery.
                                </li>
                                <li>Head & Neck oncology.
                                </li>
                                <li>Sleep and snoring surgery.
                                </li>
                                <li>Pediatric Otorhinolaryngology.
                                </li>
                                <li>Facial Plastic & Reconstructive surgery.
                                </li>
                                <li>Vertigo and Allergology.
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
    </section>




    </div>

    {% endblock content %}