{% extends "hospital/base.html" %} {% block content %}
<div class="resource_inner">
    <style>
        p {
            margin-bottom: 10px;
        }
    </style>
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/hospital/facility/ambulance.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>
                        <div>
                            <span>
                                06          </span>
                            <h1>General Surgery</h1>
                            <h3 class="inner_sub_hd">Overview</h3>
                            <p>Year of establishment – 2005.One of the largest departments in ACS imparting training to UGs, PGS and dental students, providing quality surgical care to patients and pursuing research work.</p>
                            <p>The faculty consists of highly experienced surgeons and residents who endeavor to take students’ knowledge and skill in surgery to a higher level. Undergraduate students are trained with the belief that not only theoretical
                                knowledge but also clinical observation and surgical skills shape the future of budding medical doctors. These faculty members remain upto date by regularly attending National and State Conferences and present scientific
                                papers in these fora.The faculty surgeons at ACS are dedicated to improving standard of surgical care and are involved in clinical trials to advance treatment. The general surgeons work closely with super-specialists and
                                faculty of other Departments at all times to diagnose and provide timely surgical intervention for complex conditions.

                            </p>
                        </div>
                    </div>

                </div>
            </div>
    </section>




    </div>

    {% endblock content %}