{% extends "hospital/base.html" %} {% block content %}
<div class="resource_inner">
    <style>
        p {
            margin-bottom: 10px;
        }
    </style>
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/hospital/facility/ambulance.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>

                        <div>
                            <span>
                                05       </span>
                            <h1>General Medicine</h1>
                            <h3 class="inner_sub_hd">Overview</h3>
                            <p>Department of General Medicine caters the needs of Undergraduate, Postgraduate students and provides round the clock patient related services.

                            </p>
                            <p>On the education front the dedicated faculty in the department are actively involved in providing need based learning and good clinical skill development of both Undergraduate & Postgraduates. Clinical Research is given top
                                priority. The faculties are involved in clinical research and guiding the undergraduate and Post Graduate students in various research activities.

                            </p>

                            <p>On the patient front the department provides outpatient services, round the clock emergency, ICU services and regular inpatient services.

                            </p>
                        </div>
                    </div>

                </div>
            </div>
    </section>




    </div>

    {% endblock content %}