{% extends "hospital/base.html" %} {% block content %}
<div class="resource_inner">
    <style>
        p {
            margin-bottom: 10px;
        }
    </style>
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/hospital/facility/ambulance.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>

                        <div>
                            <span>
                                07      </span>
                            <h1>OBG</h1>
                            <h3 class="inner_sub_hd">Overview</h3>
                            <p>The department of Obstetrics and Gynecology has been providing comprehensive health care for women. We provide regular clinical services in Obstetrics like antenatal care, labor management, postpartum Care. We also provide
                                specialized care in high risk pregnancies like P.I.H, Eclampsia, GDM, Multiple gestations, BOH. With the backup of NICU, we are able to salvage preterm babies of 30 weeks on wards. Highly qualified doctors, with the help
                                of well equipped labor ward, conduct normal and caesarian deliveries. State of the art fetal monitoring and advanced laparoscopic equipment enable the department to undertake treatments of congenital anomalies. The department
                                has also successfully handles cases of preterm babies weighing less than 1000 gms. This Department does regular consulting for cancer screening, family planning and infertility. It is also planning to set up an IVF centre
                                shortly.

                            </p>
                            <p>Apart from regular clinical services in Gynecology we provide specialized clinics for cancer detection and Management. We have made available to the patients new diagnosis and Therapeutic Techniques. Department has state- of
                                -the- art facilities like ultrasound and Doppler, Antenatal ultrasound for detection and monitoring pregnancy, fetal growth and development. The department also has the facilities to handle high risk pregnancies.

                            </p>
                            <p>The center also offers advanced diagnostic and operative laparoscopy facilities. We have a colposcopy unit for early detection of cervical cancer and cryocautery unit for management of the cervical erosion.

                            </p>
                        </div>
                    </div>

                </div>
            </div>
    </section>




    </div>

    {% endblock content %}