{% extends "hospital/base.html" %} {% block content %}
<div class="resource_inner">
    <style>
        p {
            margin-bottom: 10px;
        }
        
        .resource_inner h1 {
            font-size: 75px;
        }
    </style>
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/hospital/facility/ambulance.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>

                        <div>
                            <span>
                                08        </span>
                            <h1>Ophthalmology</h1>
                            <h3 class="inner_sub_hd">Overview</h3>
                            <p>Our Ophthalmology(eye) department is registered under District Blindness Control Society and has a successful record of offering the best possible care for our patients. We conduct eye screening camps every month at Mudaliar
                                Sangha, Rajajinagar in Bangalore. We also provide treatment free for patients who can’t afford to pay their daily bills. We provide services to about 100 patients every day. We have two ophthalmic units which are functioning
                                and provide all necessary care for all ocular disorders.


                            </p>
                            <p> We run specialty clinics twice a week which includes cornea clinic, retina clinic, glaucoma clinic, squint and pediatric ophthalmology clinic. We also provide medical retina services. We have an operation theater which is well
                                equipped with latest phaco machines and operating microscope. We provide a variety of ocular surgeries including cataract, glaucoma, Keratoplasty, pterygium, squint correction surgeries, pediatric cataract surgeries, DCT
                                and vitreo- retinal surgeries, beside laser treatments. </p>
                            <p>The department conducts outreach programs and screening camps every now and then, it is also involved in Tele-ophthalmology services. Our Ophthalmology department also has a functioning Eye Bank Facility. We also take pride
                                in educating and gifting tomorrow’s best ophthalmologists to the country. The department has a grand library with national and international journals on ophthalmology.</p>
                        </div>
                    </div>

                </div>
            </div>
    </section>




    </div>

    {% endblock content %}