{% extends "hospital/base.html" %} {% block content %}
<div class="resource_inner">
    <style>
        p {
            margin-bottom: 10px;
        }
        
        .resource_inner h1 {
            font-size: 75px;
        }
        
        .clinicalul li {
            font-family: 'Roboto Slab', serif;
            font-size: 15px;
            line-height: 2.2;
            letter-spacing: 0.05em;
            list-style-type: disc;
            margin-left: 10px;
        }
    </style>
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/hospital/facility/ambulance.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>

                        <div>
                            <span>
                                09       </span>
                            <h1>Orthopaedics</h1>
                            <h3 class="inner_sub_hd">Overview</h3>
                            <p>ONLY Orthopaedic department in the Karnataka state to get ICMR project
                            </p>
                            <ul class="clinicalul">
                                <li>Excellent and Dedicated Faculty
                                </li>
                                <li>Post-graduate students committed to learning
                                </li>
                                <li>State of the art Equipments
                                </li>
                                <li>Fully equipped Central Research Laboratory
                                </li>
                                <li>Keeping abreast with recent trends and new procedures and implementing the same.
                                </li>
                                <li>UG (MBBS) Annual intake-150
                                </li>
                                <li>PG (MS- Orthopaedics) Annual intake-02
                                </li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div>
    </section>




    </div>

    {% endblock content %}