{% extends "hospital/base.html" %} {% block content %}
<div class="resource_inner">
    <style>
        p {
            margin-bottom: 10px;
        }
        
        .resource_inner h1 {
            font-size: 75px;
        }
    </style>
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/hospital/facility/ambulance.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>

                        <div>
                            <span>
                                10        </span>
                            <h1>Pediatrics</h1>
                            <h3 class="inner_sub_hd">Overview</h3>
                            <p>Department of Pediatrics headed by Dr. Adarsh. E, has been a platform for medical professionals and is been establishing as a center of excellence by training students with a sense of social commitment, ethical values and high
                                standards, through continual improvement of medical services. The department favors a conducive environment for learning by providing excellent care for neonates and children. Our tertiary care center provides optimal care
                                for all cases encompassing all the specialties of pediatrics. The residents are trained to be compassionate and are exposed to clinical details including the latest development in pediatric field.

                            </p>
                        </div>
                    </div>

                </div>
            </div>
    </section>




    </div>

    {% endblock content %}