{% extends "hospital/base.html" %} {% block content %}
<div class="resource_inner">
    <style>
        p {
            margin-bottom: 10px;
        }
    </style>
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/hospital/facility/ambulance.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>

                        <div>
                            <span>
                                11       </span>
                            <h1>Physiotherapy</h1>
                            <h3 class="inner_sub_hd">Overview</h3>
                            <p>The department of physiotherapy was established in 2003 at ACS Medical College and Hospital to cater to the preventive, creative, therapeutic and rehabilitation needs of the rural people need was felt to impart the much needed
                                physiotherapy vocational and rehabilitation training programme. Practical training to students is imparted at state of the art physiotherapy and rehabilitation center where a student gets hands on training under the expert
                                faculty of multidisciplinary tertiary care Hospital. Students expand their horizons of therapeutic and rehabilitative concepts through involvement in community based rehabilitation programs and their “outreach” activities.

                            </p>
                            <p>Physiotherapy labs are well equipped, sophisticated and modern equipment have been installed which are calibrated periodically.

                            </p>
                        </div>
                    </div>

                </div>
            </div>
    </section>




    </div>

    {% endblock content %}