{% extends "hospital/base.html" %} {% block content %}
<div class="resource_inner">
    <style>
        p {
            margin-bottom: 10px;
        }
        
        .resource_inner h1 {
            font-size: 75px;
        }
    </style>
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/hospital/facility/ambulance.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>

                        <div>
                            <span>
                                12       </span>
                            <h1>Psychiatry</h1>
                            <h3 class="inner_sub_hd">Overview</h3>
                            <p>The department of Psychiatry at Rajarajeswari Medical College and Hospital strives to achieve and follow “A healthy mind in a healthy body”. Our dedicated team of psychiatrists, psychologists and social workers address the
                                biological, psychological and social aspects of mental health of the patients. The department has a holistic approach and is also undergoing training for both undergraduates and postgraduates. Our priority lies in patient
                                care, education and research.


                            </p>
                        </div>
                    </div>

                </div>
            </div>
    </section>




    </div>

    {% endblock content %}