{% extends "hospital/base.html" %} {% block content %}
<div class="resource_inner">
    <style>
        p {
            margin-bottom: 10px;
        }
    </style>
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/hospital/facility/ambulance.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>

                        <div>
                            <span>
                                13      </span>
                            <h1>Radio Diagnosis</h1>
                            <h3 class="inner_sub_hd">Overview</h3>
                            <p>Imaging department is one of the most important pillar in present day medicine for any hospital / College. Department of Radiology and imaging sciences offers the latest equipments in diagnosis and also therapeutic aid to patients
                                at very low cost.

                            </p>
                        </div>
                    </div>

                </div>
            </div>
    </section>




    </div>

    {% endblock content %}