{% extends "hospital/base.html" %} {% block content %}
<div class="resource_inner">
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/hospital/facility/ambulance.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>
                        <span>
                02           </span>
                        <h1>Ambulance</h1>
                        <h3 class="inner_sub_hd">Ambulance Service</h3>
                        <p> The hospital has a large number of advanced ambulances with mobile ICUs to monitor the patient’s condition. The 24*7 facility is staffed by specialists for the care and upkeep of the patients in transit.

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>




</div>

{% endblock content %}