{% extends "hospital/base.html" %} {% block content %}
<div class="resource_inner">
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="#" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>
                        <span>
                03           </span>
                        <h1>Blood Bank</h1>
                        <h3 class="inner_sub_hd">Blood Bank</h3>
                        <p> The hospital has a licensed, modern state of the art Blood Bank that functions 24 hours a day and provide facilities for blood donation, storage, issue of blood. Strict precautions are taken and testing is done to prevent any blood
                            borne infection. Blood is issued on exchange basis and patient requiring blood should arrange healthy blood donor for exchange of blood.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>




</div>

{% endblock content %}