{% extends "hospital/base.html" %} {% block content %}
<div class="resource_inner">
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/hospital/facility/icu.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>
                        <span>
                07           </span>
                        <h1>ICU</h1>
                        <h3 class="inner_sub_hd">Intensive Care Unit</h3>
                        <p> Intensive Care Unit is fitted with the latest equipment to help patients in case of serious life threatening cases.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    {% endblock content %}