{% extends "hospital/base.html" %} {% block content %}
<div class="resource_inner">
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/hospital/facility/ip.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>
                        <span>
                08          </span>
                        <h1>IP AND OP</h1>
                        <h3 class="inner_sub_hd">IP And OP Service</h3>
                        <p>The general ward has bed strength of 300 with the bed occupancy exceeding 85%. Children with diarrheal disease and infections are treated in separate cubicles.</p>
                        <p>Spacious waiting hall, well-equipped examination chambers. Seperate rooms for special clinics like immunisation, baby clinic and family welfare clinic.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    {% endblock content %}