{% extends "hospital/base.html" %} {% block content %}
<div class="resource_inner">
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/hospital/facility/pharmacy.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>
                        <span>
                09          </span>
                        <h1>Pharmacy</h1>
                        <h3 class="inner_sub_hd"> Pharmacy</h3>
                        <p>Pharmacy-A well stocked 24 hour pharmacy is available.

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>




</div>

{% endblock content %}