{% extends "hospital/base.html" %} {% block content %}
<div class="resource_inner">
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/sample/hospital/facility/24.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div>
                        <span>
                01            </span>
                        <h1>24*7 Service</h1>
                        <h3 class="inner_sub_hd"> 24 Hours Services </h3>
                        <p>24 hour service is provided by ACS by the departments like General medicine, pharmacy, lab services and Casualty.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>




</div>

{% endblock content %}