{% extends "base.html" %} {% block content %}

<style>
    .sidebar {
        display: none;
    }
    
    #logo {
        display: block;
    }
</style>
<style>
    .admis_steps ol>li {
        font-weight: 400;
        line-height: 2.7;
        width: 1200px;
        font-size: 16px;
        max-width: 100%;
        margin-bottom: 50px;
        list-style-type: lower-alpha;
    }
    
    .admis_steps ul>li {
        font-weight: 400;
        line-height: 2.7;
        width: 1200px;
        font-size: 16px;
        max-width: 100%;
        margin-bottom: 50px;
        list-style-type: circle;
    }
</style>
<section style="padding: 0;" class="admis_intro inner">
    <div class="container">
        <div class="row">

            <div class="col-xs-6 text-contain">
                <h1>Admissions </h1>
                <p>ASPIRING FOR A HIGH FLYING CAREER IN MEDICINE? JOIN US.</p>
            </div>
        </div>
    </div>
</section>

<section style="padding: 0;" class="admis_steps_wrap inner">
    <div class="container">

        <div style="margin-top: 0;" class="admis_steps step01">
            <span>01</span>
            <h3>Course:M.B.B.S (Bachelor of Medicine and Bachelor of Surgery)</h3>
            <p> Duration: 4 Years 6 Months + 1 Year Internship Eligibility 1) <br> Age limit: To be admitted to the Bachelor of Medicine and Bachelor of Surgery (M.B.B.S) Course the candidate should have completed 17 years on or before the 1st July in the
                academic year he / she is seeking admission.
            </p>
            <!-- <div style="overflow:auto;">
                <table>
                    <tbody>
                        <tr>
                            <td>Aggregate percentage of Marks in Mathematics, Physics & Chemistry put together </td>
                            <td>OC<span>50%</span></td>
                            <td>BC<span>45%</span></td>
                            <td>MBC/DNC<span>40%</span></td>
                            <td>SC/ST/NRI<span>35%</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div style="overflow: auto;">
                <table>
                    <tbody>
                        <tr>
                            <td>Aggregate percentage of Marks in related subjects (Mathematics, Physics or Chemistry) and Vocational subjects put together </td>
                            <td>OC<span>50%</span></td>
                            <td>BC<span>45%</span></td>
                            <td>MBC/DNC<span>40%</span></td>
                            <td>SC/ST/NRI<span>35%</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <h3>Admission of Engineering Diploma holders &amp; B.Sc Graduates directly into II year of B.E./B.Tech Programmes (Lateral entry)</h3>
                <p>Candidates should have passed the Diploma Examinations in appropriate branches of Engineering of the State Board of Technical Education, Tamilnadu or any other equivalent examinations and B.Sc with Maths as approved by Anna University.
                </p>
                <p>Candidates should have obtained marks as prescribed below :</p>
            </div>
            <div style="overflow: auto;">
                <table>
                    <tbody>
                        <tr>
                            <td>Aggregate percentage of Marks in Pre-final Semester & Final Semester put together </td>
                            <td>OC<span>50%</span></td>
                            <td>BC<span>45%</span></td>
                            <td>MBC/DNC<span>40%</span></td>
                            <td>SC/ST/NRI<span>35%</span></td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
        </div>

        <div class="admis_steps step02">
            <span>02</span>
            <h3>Qualifying examination:</h3>
            <p>The candidate shall be admitted to the First Bachelor of Medicine and Bachelor of Surgery (MBBS) Course only after he /she has passed a qualifying examination as under:
            </p>
            <ol>
                <li>
                    The Higher Secondary Examination or the Indian School Certificate examination which is equivalent to 10+2 Higher Secondary Examination after a period of 12 Years of study. The last two years of study should include Physics, Chemistry and Biology with
                    English at a level not less than the core course for English as prescribed by the National Council for Educational Research and Training after the introduction of the 10+2+3 year’s educational structure as recommended by the National
                    Committee on Education. (Note: where the course content is not as prescribed for 10+2 education structure of the National Committee, the candidates will have to undergo a period of one year pre-professional training before admission
                    into the Medical College) (OR)
                </li>

                <li>
                    The Intermediate examination in science of an Indian University/ Board or other recognised examining body with Physics, Chemistry and Biology which shall include a practical test in these subjects and also English as a compulsory subject. (OR)
                </li>
                <li> The pre-professional / pre-medical examination with Physics, Chemistry and Biology, after passing either the higher secondary school examination or the pre-University or an equivalent examination. The pre-professional / pre-medical examination
                    shall include a practical test in Physics, Chemistry and Biology and also English as a compulsory subject. (OR)

                </li>
                <li> The first year of the three years degree course of a recognized University with Physics, Chemistry and Biology including a practical test in these subjects provided the examination is a University Examination and candidate has passed 10+2
                    with English at a level not less than a core subject. (OR)

                </li>
                <li> B.Sc. examination of an Indian University, provided that he/she has passed the B.Sc. examination with not less than two of the following subjects, Physics, Chemistry, Biology and further that he/she has passed the earlier qualifying examination
                    with the following subjects Physics, Chemistry, Biology and English. (OR)

                </li>
                <li> Any other examination which in scope and standard is found to be equivalent to the intermediate science examination of an Indian University/Board having Physics, Chemistry and Biology including a practical test in each of these subjects
                    and English.</li>
            </ol>

        </div>
        <div class="admis_steps step02">
            <span>03</span>
            <h3>Selection of Students:</h3>
            <p>The Selection of students to medical course shall be based solely on the merit of the candidates and for determination of merit the following criteria can be adopted.
            </p>
            <ul>
                <li>A candidate for admission to medical course must have obtained not less than 50% marks in English and 50 % marks in Physics, Chemistry and Biology taken together, both at qualifying and competitive examinations.</li>
                <li>Provided further that in respect of candidates belonging to Scheduled Castes/ Scheduled Tribes and Other Backward Classes (OBC) the marks obtained shall be read as 40 % instead of 50 %.</li>
                <li>To be eligible for competitive entrance examination, the candidate must have passed any of the qualifying examinations as enumerated above at II (2).</li>
                <li>Based on the Merit of the student appeared in the Qualifying examination and Entrance examination / Viva voice conducted by this university.</li>
            </ul>

        </div>
        <div class="admis_steps step02">
            <span>04</span>
            <h3>Duration of Course of Study</h3>
            <p>Four and a half (4 1/2) academic years followed by one year of Compulsory Rotating Resident Internship.
            </p>
            <ol>
                <li>
                    The first year of the three years degree course of a recognized University with Physics, Chemistry and Biology including a practical test in these subjects provided the examination is a University Examination and candidate has passed 10+2 with English
                    at a level not less than a core course. (OR)
                </li>
                <li> B.Sc. examination of an Indian University, provided that he/she has passed the B.Sc. examination with not less than two of the following subjects, Physics, Chemistry, Biology and further that he/she has passed the earlier qualifying examination
                    with the following subjects Physics, Chemistry, Biology and English

                    <br> First MBBS: 1 year
                    <br> Second MBBS: 1 and 1/2 Year
                    <br> Third MBBS: 1 year
                    <br> Third MBBS: 1 year
                    <br> One year of compulsory Rotatory Resident Internship.</li>
            </ol>
        </div>


    </div>
</section>

<script type="text/javascript">
    jQuery(document).ready(function() {
        var divlength = $('.admis_steps_wrap .container > div').length + 1;
        fadeinup('.admis_intro .text-contain > *', '#main');
        fadeinright('.admis_intro .img-contain', '#main');
        for (var i = 1; i < divlength; i++) {
            fadeinup('.admis_steps_wrap .container > div:nth-of-type(' + i + ') > *', '.admis_steps_wrap  .container > div:nth-of-type(' + i + ')');
        }
    });
</script>
{% endblock %}